<footer class="white">
        <div class="container">
            <div><hr/></div>
            <div>
            	Was this page helpful for you? Please give us <a href="https://goo.gl/forms/NqKna6d4lsqUtlgD3" class="text-lighten-3" target="_new">Feedback</a>.
            </div>
            <div><hr/></div>
        </div>
</footer>
<footer class="page-footer deep-purple">
    <div class="footer-copyright">
        <div class="container">
            <div>
              <a href="https://www.calconnect.org/about/policies/copyright-licensing" class="deep-purple-text text-lighten-3">Copyright © The Calendaring and Scheduling Consortium</a>. The contents of this wiki are freely available licensed via a <a href="http://creativecommons.org/licenses/by/3.0/" class="deep-purple-text text-lighten-3">Creative Commons Attribution 3.0 Unported License</a>.
            </div>
        </div>
    </div>
</footer>
